<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semaine Intensive 3D</title>
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- Level difficult -->
<div class="choixLvl">
    <div class="image"><img src="../public/img/abeillefull.png" alt="Save the bees"></div>
    <div class="bee"><h1 class="small_h1">Bee 'zz</h1></div>
    <div class="forms_game">




        <img src="../public/img/avatar.png" class="avatar_game">
        <div class="column_game">

            <p class="p_game"><strong>Avatar93</strong><br>
            <p class="p_game2"><strong>NIVEAU 1</strong></p>

        </div>
    </div>

</div>




</body>
</html>