<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheet/reset.css">
    <link rel="stylesheet" href="../public/stylesheet/style.css">
</head>
<body>
    <div class="accueil" id="accueil">
        <div><img src="air.png" alt="Save the bees" style="width: 50%"><img src="abeille.png" alt=""></div>
        <div><img src="titre.png" alt="Save the bees" style="width: 40%"></div>
        <div class="message">De nature sociale, solitaire, sauvages ou domestiques. Les abeilles sont indispensables pour la biodiversité. Leur action de pollinisation est essentiel pour la reproduction des plantes. Toutefois, leur rôle est menacé par l'utilisation excessive de pesticides.</div>
        <button class="button" id="start">On commence?</button>
        <a href="#" id="aConnexion">Connexion / Inscription</a>
    </div>
</body>
</html>