<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semaine Intensive 3D</title>
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="accueil" id="accueil">
<div class="image"><img src="../public/img/abeillefull.png" alt="Save the bees"></div>
		<div class="bee"><h1>Bee 'zz</h1></div>
    <div class="message">De nature sociale, solitaire, sauvages ou domestiques. Les abeilles sont indispensables pour la biodiversité. Leur action de pollinisation est essentiel pour la reproduction des plantes. Toutefois, leur rôle est menacé par l'utilisation excessive de pesticides.</div>
    <a href="level"><button class="button" id="start">On commence?</button></a>
    <a href="#" id="aConnexion">Connexion / Inscription</a>
</div>

<!-- Connexion -->
<div class="connexionInscription  hidden" id="connexionInscription">
    <div class="image"><img src="../public/img/abeillefull.png" alt="Save the bees"></div>
		<div class="bee"><h1 class="small_h1">Bee 'zz</h1></div>
		<div class="form_conn">
        <div class="column">
            <h2>DÉJÀ INSCRIT ?</h2>
            <form id="connexion">
                <input id="pseudo" type="text" placeholder="Pseudo" class="champs"/>
                <input id="mdp" type="text" placeholder="Mot de passe" class="champs"/>
                <input type="submit" value="Se connecter" class="validation">
            </form>
        </div>
        <div class="rule"></div>
        <div class="column">
            <h2>INSCRIPTION</h2>
            <form id="inscription">
                <input id="email" type="text" placeholder="Email" class="champs"/>
                <input id="mdp" type="text" placeholder="Mot de passe" class="champs"/>
                <input id="mdp2" type="text" placeholder="Confirmation mot de passe" class="champs"/>
                <input type="submit" value="S'inscrire" class="validation">
            </form>

        </div>

    </div>
    <div class="social">
        <button class="facebook"><img src="../public/img/Facebook.png" class="social_icons"><p class="p_social">Se connecter avec Facebook</p></button>
        <button class="google"><img src="../public/img/Google_plus.png" class="social_icons"><p class="p_social">Se connecter avec Google +</p></button>
    </div>
</div>

<script src="../public/Javascript/unity.js"></script>
</body>
</html>