<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semaine Intensive 3D</title>
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- Level difficult -->
    <div class="choixLvl" id="choixLvl">
        <div class="image"><img src="../public/img/abeillefull.png" alt="Save the bees"></div>
        <div class="message2">Choississez un niveau de difficulté</div>
        <button class="button" id="niveauNormal">Normal</button>
        <button class="button" id="niveauHardcore">Hardcore</button>
    </div>




</body>
</html>