<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semaine Intensive 3D</title>
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>

<!-- Level difficult -->
<div class="choixLvl">
    <div><img src="../public/img/air.png" alt="Save the bees" style="width: 50%"><img src="../public/img/abeille.png" alt=""></div>
    <div class="bee"><img src="titre.png" alt="Save the bees" style="width: 40%"></div>
    <div class="message2">Bienvenue <strong>Avatar93</strong></div>
    <div class="forms">
        <div class="column_avatar">

            <img src="avatar.png" class="avatar">

        </div>
        <div class="column_profil">

            <p><strong>Mot de passe : </strong>XXXXXXXXXXXXXXX</p><span><img src="../public/img/pencil.png" class="pencil"></span>
            <p><strong>Email : </strong>XXXXXXXXXXXXXXX</p><span><img src="../public/img/pencil.png" class="pencil"></span>

        </div>
    </div>


    <div class="success">
        <div class="success_h1"><h1>Success</h1></div>
        <img src="../public/img/honey_black.png" class="honey">
        <img src="../public/img/honey_color.png" class="honey2">
        <img src="../public/img/honey_color.png" class="honey2">
        <img src="../public/img/honey_black.png" class="honey2">
        <img src="../public/img/honey_black.png" class="honey2">
    </div>
</div>




</body>
</html>