<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semaine Intensive 3D</title>
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>

<!-- Level difficult -->
<div class="choixLvl">
    <div><img src="../public/img/air.png" alt="Save the bees" style="width: 50%"><img src="../public/img/abeille.png" alt=""></div>

    <div class="forms_savoir">
        <div class="column_savoir">
            <h1>Le saviez-vous ?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos aliquam doloremque sequi voluptate magni eveniet quidem asperiores quo laudantium, ducimus ullam odit reprehenderit, velit veniam maxime qui cupiditate tempore minima?</p>

            <button class="suivant">Suivant</button>
        </div>


    </div>



</div>




</body>
</html>