@font-face{
	font-family: "Debby";
	src: url('../font/Debby/Debby.ttf');
}
@font-face{
	font-family: "Debby";
	src: url('../font/Debby/Debby.otf');
}
.image{
	width:900px;
	margin:0 auto;
	margin-bottom: 3%;
}
.hidden {
	display: none;
	font-family: "Debby";
}
a {
    text-decoration:none ;
}

body {
	background: url(../img/backgroundblack.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: "Open Sans", sans-serif;
	font-weight:400;
	overflow: hidden;
}

.bee {
	text-align: center;
}
h1{
	font-family: "Debby";
	font-size: 266px;
	color: #FFFFFF;
	opacity: 0.6;
}
.accueil {
    margin-bottom: 100px;
}

.accueil a{
	display: block;
	text-align: center;
    color: #000;
    font-size: 14px;
	font-weight:700;
}

.message {
	color: white;
	margin: 0 auto;
	width: 55%;
    font-size: 16px;
	line-height: 1.5em;
	text-align: justify;
    margin-top: 30px;
    margin-bottom: 65px;
}

.message2 {
    color: white;
    margin: 0 auto;
    font-size: 26px;
	font-weight: 300;
    margin-top: 50px;
    margin-bottom: 45px;
    text-align: center;
}


/* Page connection */
.form_conn{
	background-color:rgba(240,197,41,0.7);
    border-radius: 25px;
    width: 525px;
    height: 280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px #656565;
    margin-top: 60px;
}
input::-webkit-input-placeholder {
    color:#F0C529;
	font-family: "Open Sans", sans-serif;
}
 
input:-moz-placeholder {
    color:#F0C529;
	font-family: "Open Sans", sans-serif;
}

.button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #F9CD2D;
    color: #876126;
    border: none;
    border-radius: 20px;
    margin: 20px auto;
    font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
    box-shadow: 0px 1px 5px #656565;
    cursor: pointer;
}

.facebook {
    display: block;
    width: 300px;
    height: 45px;
    background-color: #2d4373;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 22px;
    box-shadow: 0px 1px 5px #656565;
    cursor: pointer;
    font-size: 12px;
}

.google {
    display: block;
    width: 300px;
    height: 45px;
    background-color: #c23321;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 22px;
    box-shadow: 0px 1px 5px #656565;
    cursor: pointer;
    font-size: 12px;
}

.social {
    margin-left: -300px;
    width: 575px;
    margin: 0 auto;
}

.social_icons {
    float: left;
    width: 30px;
    height: 30px;
}

.p_social {
    color: #fff;
    margin-top: 6px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
}


.forms {
    background-color:#F0C529;
	opacity:0.7;
    border-radius: 25px;
    width: 525px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px #656565;
    margin-top: 60px;
}

.champs {
	display: block;
	background: #89572e;
	border: none;
	padding: 1em;
	margin: 1em;
	border-radius: 5px;
    color:#fad069;
}

.validation {
    display: block;
	border: none;
	padding: 1em;
	margin: 1em;
	border-radius: 5px;
    color:#fad069;
    background: #656565;
    margin: 0 auto;
    cursor: pointer;
}

.validation:active {
    display: block;
	border: none;
	padding: 1em;
	margin: 1em;
	border-radius: 5px;
    color:#fff;
    background: #89572e;
    margin: 0 auto;
    cursor: pointer;
}



.column {
    float: left;
    height: 250px;
}

/* Page profil */

strong {
    font-weight: bold;
}

.avatar {
    width: 220px;
    margin-left: -120px;
	margin-bottom: 180px;
}

.profil {
    color: #fff;
    font-size: 18px;
    line-height: 40px;
}

.profil p{
   /* float: left;*/
   width: 350px;
}

.pencil {
    margin-left: 20px;
    width: 30px;
    /*float: left;*/
    cursor: pointer;
    vertical-align: middle;
}

.honey {
    width: 50px;
}

.honey2 {
    width: 50px;
    margin-left: 30px;
}

.success {
    background-color: #89572e;
    border-radius: 35px;
    width: 350px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
margin-left: 345px;
    position:relative;
    z-index: 4;
}

.success_h2 {
    font-family: "Debby";
    width: 100px;
    color: #fff;
    position: absolute;
    opacity:0.9;
    font-size: 50px;
    margin-top: -30px;
    margin-left: -90px;
}

.column h2 {
    margin-bottom: 30px;
    text-align: center;
    color:#89572e;
    font-weight: bold;
}


.rule {
    border: 2px solid #89572e;
    height: 210px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Saviez-vous ? */

.column_savoir {
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    width: 460px;
}

.column_savoir h1{
    color: #89572e;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.suivant {
    display: block;
	border: none;
	padding: 1em;
	border-radius: 5px;
    color:#fad069;
    background: #656565;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
}

.suivant:active {
    display: block;
	border: none;
	padding: 1em;
	margin: 1em;
	border-radius: 5px;
    color:#fff;
    background: #89572e;
    margin: 0 auto;
    cursor: pointer;
}



.forms_savoir {
    background-color: #fad069;
    border-radius: 10px;
    border: 20px solid #89572e;
    width: 575px;
    height: 370px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px #656565;
    margin-top: 60px;
}

/* Game */
.small_h1{
	font-size: 124px;
	margin-top: -30px;;
}
.forms_game {
    background-color: #89572e;
    border-radius: 20px;
    border: 20px solid #ECC22A;
    width: 875px;
    height: 470px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px #656565;

}

.game_level {
    background-color: #656565;
    border-radius: 25px;
    width: 250px;
    height: 65px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
}

.column_game {
    color: #fff;
    width: 300px;
    font-size: 18px;
    line-height: 40px;
    float: left;
    margin-top: -630px;
}

.avatar_game {
    width: 200px;
    margin-left: -595px;
    margin-top: -550px;
    float: left;
}

.p_game {
    font-size: 18px;
	margin-top:70px;
	margin-left: -20px;
}

.p_game2 {
    font-size: 18px;
    color: #fad069;
    background: #656565;
    border-radius: 55px;
    padding: 5px 10px 25px 10px;
    height: 20px;
    width: 90px;
	margin-left: -45px;
	margin-bottom: 25px;
}
